.all-products-container {
  margin: auto;
  width: 80%;
  min-height: 80vh;
}

.all-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: 0.2s;
}

.all-products-product {
  text-align: center;
  width: 30%;
  margin: 2rem 1rem;
}

.all-products-product a {
  color: var(--black);
}

.all-products-product:hover a {
  color: black;
}

.category-title {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem 0;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
}

@media (max-width: 1200px) {
  .all-products-container {
    width: 100%;
  }

  .all-products-product {
    text-align: center;
    width: 50%;
    margin: 0rem;
    padding: 1rem;
  }
}
