.all-products {
  margin: 5rem;
  display: flex;
  min-height: 80vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: 0.2s;
}

.all-products-product {
  width: 20rem;
  height: 30rem;

  text-align: center;
  padding: 1rem;
}

.all-products-product a {
  color: var(--black);
}

.all-products-product:hover a {
  color: black;
}
