.all-products-container {
  margin: auto;
  width: 80%;
  min-height: 80vh;
}

.all-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: 0.2s;
}

.all-products-product {
  // width: 50%;
  text-align: center;
  width: 45vh;
}

.all-products-product a {
  color: var(--black);
}

.all-products-product:hover a {
  color: black;
}
