.talks {
  width: 75%;
  margin: 5rem auto;
  color: black;
}

.talks h2 {
  font-size: 2rem;
  margin: 3rem 0;
  padding: 3rem 0;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.talk-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  width: 80%;
  font-weight: 500;
}

.talk-card:hover h3 {
  text-decoration: underline;
  cursor: pointer;
}

.talk-topic {
  color: rgb(51, 51, 51);
}
