.cart-icon-container {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 15px;
  font-size: 1.5rem;
  position: relative;
  color: var(--black);
}

.title {
  text-align: left;
}

.cart-preview {
  display: flex;
  justify-content: space-evenly;
  min-width: 9rem;
}

.cart-preview span {
  padding: 0 15px;
}

.cart-icon-container svg {
  color: var(--black);
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.2s;
}

.cart-notification {
  background-color: var(--black);
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 2px 2px 2px rgb(128, 128, 128);
  animation: appear 0.2s linear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cart-icon-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cart-open {
  background: #fafafa;
  box-shadow: var(--elevation-5);
  height: 100%;
  right: 0;
  overflow: scroll;
  position: fixed;
  padding: 14px 1.5%;
  top: 0;
  width: 400px;
  z-index: 100;
}

.cart-open h5 {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

h5 span {
  font-weight: 900;
}

.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.quantity-container h5 {
  font-size: 1.5rem;
}

.quantity-container svg {
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.2s;
}

.quantity-container svg:hover {
  color: black;
}

.cart-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 12rem;
  overflow: hidden;
  margin: 1rem 0;
}

.cart-item img {
  padding: 1rem;
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 600px) {
  .cart-open {
    width: 100%;
  }
}
