.button.is-dark:hover {
  filter: brightness(1.5);
}

.cart-icon-container {
  text-align: right;
  display: flex;
  line-height: 36px;
  box-sizing: border-box;
  justify-content: flex-end;
  border: 2px solid transparent;
}

.cart-icon-container button {
  position: relative;
  background: transparent;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.cart-icon-container svg {
  color: black;
  height: 2rem;
  width: 2rem;
  transition: 0.2s;
}

.cart-icon-container:hover svg {
  transform: scale(1.1);
  position: relative;
}

.cart-open h5 {
  margin: 2rem 0.5rem;
  margin-top: 4.5rem;
  text-transform: uppercase;
}

h5 span {
  font-weight: 900;
}
