.cart-icon-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 15px;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.title {
  text-align: left;
}

.cart-preview {
  display: flex;
  justify-content: space-evenly;
  min-width: 9rem;
}

.cart-preview span {
  padding: 0 15px;
}

.cart-icon-container svg {
  color: var(--black);
  height: 1.5rem;
  width: 1.5rem;
  transition: 0.2s;
}

.cart-icon-container:hover {
  background-color: rgb(236, 236, 236);
}

.cart-icon-container:active {
  filter: brightness(1.05);
}

.cart-icon-container:hover svg {
  transform: scale(1.1);
  position: relative;
}

.cart-open {
  background: #fafafa;
  box-shadow: var(--elevation-4);
  height: 100%;
  right: 0;
  overflow: scroll;
  position: fixed;
  padding: 14px 1.5%;
  top: 0;
  width: 360px;
  z-index: 100;
}

.cart-open h5 {
  font-size: 1.2rem;
}

h5 span {
  font-weight: 900;
}

.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.quantity-container h5 {
  font-size: 1.5rem;
}

.quantity-container svg {
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.2s;
}

.quantity-container svg:hover {
  color: black;
  // transform: scale(1.1);
}

.cart-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 10rem;
  overflow: hidden;
  margin: 1rem 0;
}

.cart-item img {
  width: 50%;
  padding: 1rem;
  height: 100%;
}

@media (max-width: 700px) {
  .cart-icon-container {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .cart-open {
    width: 100%;
    padding: 1rem;
  }

  .cart-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 15rem;
    overflow: hidden;
    margin: 1rem 0;
  }

  .cart-item h4 {
    font-size: 1rem;
  }

  .cart-item img {
    height: 20rem;
    width: 15rem;
  }
}

@media (max-width: 450px) {
  .cart-preview {
    display: none;
  }
}
