.cart-icon-container {
  text-align: right;
  display: flex;
}

.cart-icon-container button {
  background: transparent;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.cart-icon-container svg {
  color: var(--black);
  height: 2rem;
  width: 2rem;
  transition: 0.2s;
}

.cart-icon-container:hover svg {
  transform: scale(1.1);
  position: relative;
}

.cart-open {
  background: #fafafa;
  box-shadow: var(--elevation-4);
  height: 100%;
  right: 0;
  overflow: scroll;
  position: fixed;
  padding: 40px 2%;
  top: 0;
  width: 360px;
}

.cart-open h5 {
  margin: 2rem 0.5rem;
  margin-top: 4.5rem;
  text-transform: uppercase;
}

h5 span {
  font-weight: 900;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container svg {
  color: var(--black);

  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  right: -2rem;
  bottom: -1rem;
  transition: 0.2s;
}

.quantity-container svg:hover {
  color: black;
  transform: rotate(90deg);
}

.products-cart-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
  max-height: 50vh;
  overflow: scroll;
}
