.projects {
  width: 75%;
  margin: auto;
  margin-top: 10rem;
  color: black;
}

.projects h2 {
  font-size: 2rem;
  font-weight: 600;
}

.projects-grid {
  margin: 2rem 0;
  justify-content: center;
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

.projects-grid div {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.041);
  height: 15rem;
  width: 30rem;
}

.project-card {
  display: flex;
  justify-content: center;
}

.project h2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #282828;
}
/* 
@media (max-width: 950px) {
  .projects {
    width: 100%;
  }
  .projects-grid {
    margin: 2rem 0;
    display: grid;
    width: 100%;
    gap: 5rem !important;
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 800px) {
  .projects {
    width: 100%;
  }
  .projects-grid {
    margin: 2rem 0;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  .projects-grid div {
    width: 100%;
  }
}
