.form-intro h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form p {
  margin: 0.5rem 0;
}

form input {
  padding: 0.5rem;
  border: 1px solid lightgray;
}

form .button-box {
  display: flex;
}

form .button-box input {
  margin-right: 0.5rem;
}
