.hero-image {
  background-color: black;
  margin: auto;
  margin-top: 9rem;
  height: 30rem;
  width: 80%;
}

.about p {
  font-size: 2rem;
  margin: auto;
  margin-top: 5rem;
  font-weight: 500;
  color: black;
  width: 65%;
}

.about ul {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.about a {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  color: black;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.about a:hover {
  color: rgb(63, 63, 63);
}
