.hero-image {
  background-color: black;
  margin: auto;
  margin-top: 9rem;
  height: 30rem;
  width: 90%;
}

.about p {
  font-size: 2rem;
  margin: auto;
  margin-top: 5rem;
  font-weight: 500;
  color: black;
  width: 75%;
}

.about ul {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
}

.about a {
  font-size: 1.5rem;
  font-weight: 500;
}
