.hero-image {
  background-color: black;
  margin: auto;
  margin-top: 9rem;
  height: 30rem;
  width: 90%;
}

.about p {
  font-size: 2rem;
  margin: auto;
  margin-top: 5rem;
  font-weight: 500;
  color: black;
  width: 75%;
}

.about ul {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.about a {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  transition: 0.2s;
  color: black;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.about a:hover {
  color: rgb(42, 42, 42);
}

.divider {
  background: url(../../images/IMG_1009-min.png);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  margin: 3rem 0;
  width: 100%;
}
