.featured-container {
  position: relative;
}

.first-featured {
  position: relative;
}

.featured-container a {
  background-color: black;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
