.contact-section {
  text-align: center;
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
}

.contact-greeting h1 {
  font-size: 3rem;
  line-height: 100%;
  font-weight: 700;
  color: black;
  margin-bottom: 2rem;
}

.contact-form {
  margin: auto;
}

.contact-form label {
  display: block;
}

.field {
  text-align: left;
}

.contact-form input {
  padding: 1rem;
  min-width: 300px;
}

.contact-form textarea {
  padding: 1rem;
  min-width: 300px;
}
