.navibar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: auto;
  position: sticky;
  user-select: none;
  top: 0rem;
  z-index: 50;
  padding: 1rem 2rem;
}

.nav-items {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-right {
  display: flex;
}

.navibar a {
  font-size: 1.3rem;
  margin: 1rem;
  color: var(--black);
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}

.navibar a:hover {
  border-bottom: 3px solid var(--black);
}

.hamburger-menu {
  cursor: pointer;
  color: var(--black);
  transition: 0.2s;
  z-index: 500;
}
