.nav {
  padding: 2rem 5vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  user-select: none;
  top: 0rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav a {
  font-size: 1rem;
  margin: 0 1rem;
  color: black;
  transition: 0.2s;
  text-transform: uppercase;
}

.nav-right {
  display: flex;
}

.nav-right a:hover {
  color: rgb(71, 71, 71);
}

.hamburger-menu {
  cursor: pointer;
  color: var(--black);
  transition: 0.2s;
  display: none;
}

.nav button:nth-child(3) {
  z-index: 9000 !important;
  outline: none;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
}

@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }
  .nav-items {
    display: none;
  }
}
