* {
  font-family: "STEAK";
}

nav li {
  list-style-type: none;
  margin: 1rem 0;
}

@font-face {
  font-family: STEAK;
  src: url(../../Fonts/TTCommons-Medium.woff) format("woff2");
}

nav a {
  color: #363636;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

nav a:hover {
  color: black !important;
}

.nav a::after {
  background-color: black;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 0%;
}

.nav a:hover:after {
  width: 100%;
}
