.greeting {
  text-align: left;
  color: black;
  margin: auto;
  margin-top: 10rem;
  width: 80% !important;
  text-align: left;
  transition: 0.6s;

  flex-direction: column;
  h1 {
    font-size: 7vw;
    line-height: 8vw;
    font-weight: 700;
  }
}

h1.see-through {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1.see-through:hover {
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 400px) {
  .greeting {
    width: 100%;
    lin h1 {
      font-size: var(--heading-two);
    }
    h2 {
      font-size: var(--heading-three);
    }
  }
}
