.greeting {
  text-align: left;
  color: black;
  margin: auto;
  margin-top: 10rem;
  width: 75%;
  text-align: left;
  transition: 0.6s;

  flex-direction: column;
}
h1 {
  font-size: 3rem;
  line-height: 100%;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  /* line-height: 3rem; */
}

@media (max-width: 800px) {
  .greeting {
    width: 100%;
  }
}
