.footer {
  padding: 50px 100px;
  line-height: 2rem;
  display: flex;
  color: #363636;
  background-color: white;
  justify-content: space-between;
}

.footer .left-columns {
  display: flex;
  margin: auto 0;
  color: #363636;
}

.footer-links {
  padding-right: 5rem;
}

.footer-links a {
  color: #363636;
  position: relative;
  padding-bottom: 0.2rem;
}

.footer-links a:hover {
  color: black;
}

.footer-links a::after {
  background-color: black;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 0%;
}

.footer-links a:hover:after {
  width: 100%;
}

p svg {
  font-size: 1rem;
}

.social-block svg {
  color: #363636;
  font-size: 2rem;
  margin-right: 1rem;
  text-align: right;
  transition: 0.2s;
}

.social-block svg:hover {
  color: black;
}
