footer {
  color: var(--black);
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.social-block svg {
  color: var(--black);
  font-size: 2rem;
  margin-right: 1rem;
  text-align: right;
  transition: 0.2s;
}

.left-columns {
  padding-right: 2rem;
}
.social-block svg:hover {
  color: black;
}

@media (max-width: 767.98px) {
  .footer {
    line-height: 1.5rem;

    padding: 50px 20px;
  }
}
