.footer {
  padding: 50px 100px;
  line-height: 2rem;
  display: flex;
  color: var(--black);

  background-color: white;
  justify-content: space-between;
}

.footer .left-columns {
  display: flex;
  margin: auto 0;
  color: var(--black);
}

.footer-links {
  padding-right: 5rem;
}

.footer-links a {
  color: var(--black);

  position: relative;
  padding-bottom: 0.2rem;
}

.footer-links a:hover {
  color: black;
}

p svg {
  font-size: 1rem;
}

.social-block svg {
  color: var(--black);

  font-size: 2rem;
  margin-right: 1rem;
  text-align: right;
  transition: 0.2s;
}

.social-block svg:hover {
  color: black;
}
