.banner {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 0.9rem;
  height: 100vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: appear 0.2s linear forwards;
}

.banner a {
  color: lightgrey;
  font-weight: 600;
  padding: 0 5px;
}
.banner a:hover {
  color: white;
  filter: brightness(1.2);
}

@keyframes appear {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 40px;
    opacity: 1;
  }
}
